@using Viivalista.Models;
@model Huomio
@{
    ViewData["Title"] = Model.Nimi;
}

<h1>@Model.Nimi</h1>
<table>
    <tr>
        
        <th>Päivä</th>
        <th>Aika</th>
        
    </tr>
    <tr>
        
        <td>@Model.Aika.ToString("dd.MM.yyyy")</td>
        <td>@Model.Aika.TimeOfDay</td>
        </tr>
    <tr><th>Kuvaus</th></tr>
    <tr>
        <td>@Model.Kuvaus</td>
    </tr>
</table>
<br />
<a asp-area="" asp-controller="Huomio" asp-action="Muokkaa" asp-route-id=@Model.Id class="btn btn-default">Muokkaa</a>
<a asp-area="" asp-controller="Huomio" asp-action="Poista"  asp-route-id=@Model.Id class="btn btn-danger" >Poista</a>