@using Viivalista.Models;
@Model Huomio;
@{
    ViewData["Title"] = "Hammaslääkäri";
}

<h1>@Model.Nimi</h1>
<table>
    <tr>
        <th>Tapahtuma</th>
        <th>Päivä</th>
        <th>Aika</th>
        <th>Kuvaus</th>
    </tr>
    <tr>
        <td>@Model.Nimi</td>
        <td>@Model.Aika.Date()</td>
        <td>@Model.Aika.Time()</td>
        <td>Model.Kuvaus</td>
    </tr>
</table>
<button>Muokkaa</button>
<button>Poista</button>