@using Viivalista.Models
@model  IEnumerable<Huomio>

@{
    ViewData["Title"] = "Omat tiedot";
}

<h1>Omat tiedot</h1>

<ul>
    @foreach (Huomio h in Model)
    {
    <li>
        <td>@h.Aika</td>
        
        <td><a href="#">@h.Nimi</a></td>
        <td>@h.Kuvaus</td>
    </li>
    }
</ul>
    <br />
    <a asp-controller="Huomio" asp-action="Lisaa" class="btn btn-default">Lisää huomio</a>
