@using Viivalista.Models;

@{
    
    ViewData["Title"] = "Työntekijät";

}
<h2>@ViewData["Title"]</h2>
<a asp-controller="Tyontekija" asp-action="MuokkaaTyontekija" class="btn btn-default">Lisää työntekijä</a>
<br />
<table style="width:100%">
    <tr>
        <th>Nimi</th>
        <th>Ryhmä</th>
    </tr>
    @foreach(var t in ViewData["tyontekijat"] as IList<Tyontekija>)
    {
        <tr>
            <td><a asp-area="" asp-controller="Tyontekija" asp-action="Nayta" asp-route-id=@t.id>@t.nimi</a></td>
            <td>@t.tyontekijaryhma</td>
        </tr>

    }
</table>