@using Viivalista.Models
@model Tyontekija
@{
    ViewData["Title"] = "Työntekijä";
}

<h1>Uusi työntekijä</h1>
<br />



@using (Html.BeginForm("Lisaa", "Tyontekija", FormMethod.Post))
{
    @Html.TextBoxFor(t => t.nimi, "Nimi");
    <br />
    @Html.TextBoxFor(t => t.tyontekijaryhma, "Tyontekijäryhma");
    <input type="submit" name="saveButton" value="Lisää" class="btn-success"/>
}