@{
    ViewData["Title"] = "Työntekijä";
}

<h1>Uusi työntekijä</h1>
<br />

<form action="/Tyontekijat" method="post">
    Etunimi:<br />
    <input type ="text" name="nimi" /><br />
    Ryhmä:<br />
    <input type="text" name="tyontekijaryhma" /><br />
    <input type="checkbox" name="kone 1" value="Kone 1"/>Kone 1 <br />
    <input type="checkbox" name="tarjotin 1" value="Tarjotin 1" />Tarjotin 1<br />
    <input type="checkbox" name="kuvauslaite" value="Kuvauslaite" />Kuvauslaite<br /><br />
    <input type="submit" value="Tallenna"/>
</form>