@using Viivalista.Models
@model Tyontekija

@{
    ViewData["Title"] =Model.Nimi;
}


<h1>@Model.Nimi</h1>
<h2>@Model.Tyontekijaryhma</h2>
<a asp-controller="Tyontekija" asp-action="Muokkaa" asp-route-id=@Model.Id class="btn btn-default">Muokkaa</a>
<a asp-controller="Tyontekija" asp-action="Poista" asp-route-id=@Model.Id class ="btn btn-danger">Poista</a>

<ul>
@foreach(var tp in Model.Tyopisteet)
{
    if (tp.Allowed)
    {
        <li>@tp.Nimi</li>
    }

}

</ul>