@using Viivalista.Models

@{
    ViewData["Title"] = "Matti Meikäläinen";
}

@{
    var t = ViewData["tyontekija"] as Tyontekija;
        }
<h1>@t.nimi</h1>
<h2>@t.tyontekijaryhma</h2>
<button>Muokkaa</button>
<button>Poista</button>

<ul>
    <li>Työpisteet</li>
    <ul>
    <li>Kone 1</li>
    <li>Tarjotin 1</li>
    </ul>
    
</ul>