@using Viivalista.Models

@{
    var t = ViewData["tyontekija"] as Tyontekija;
    ViewData["Title"] =t.nimi;
}


<h1>@t.nimi</h1>
<h2>@t.tyontekijaryhma</h2>
<a asp-controller="Tyontekija" asp-action="Muokkaa" asp-route-id=@t.id class="btn btn-default">Muokkaa</a>
<a asp-controller="Tyontekija" asp-action="Poista" asp-route-id=@t.id class ="btn btn-danger">Poista</a>

<ul>
    <li>Työpisteet</li>
    <ul>
    <li>Kone 1</li>
    <li>Tarjotin 1</li>
    </ul>
    
</ul>