@using Viivalista.Models
@model Tyontekija

@{
    ViewData["Title"] =Model.nimi;
}


<h1>@Model.nimi</h1>
<h2>@Model.tyontekijaryhma</h2>
<a asp-controller="Tyontekija" asp-action="Muokkaa" asp-route-id=@Model.id class="btn btn-default">Muokkaa</a>
<a asp-controller="Tyontekija" asp-action="Poista" asp-route-id=@Model.id class ="btn btn-danger">Poista</a>

<ul>
    <li>Työpisteet</li>
    <ul>
    <li>Kone 1</li>
    <li>Tarjotin 1</li>
    </ul>
    
</ul>