@using Viivalista.Models
@model IEnumerable<Vuoro>

@{
    ViewData["Title"] = "Etusivu";
}

<style>
    .Kone {
        background-color: blue;
    }


</style>

<h1>Viivalista</h1>
<p>@ViewData["Message"]</p>
<table style="width:100%">
    <tr>
        <th>Nimi</th>
        <th style="width:100px">7.00</th>
        <th style="width:100px">8.00</th>
        <th style="width:100px">9.00</th>
        <th style="width:100px">10.00</th>
        <th style="width:100px">11.00</th>
        <th style="width:100px">12.00</th>
        <th style="width:100px">13.00</th>
        <th style="width:100px">14.00</th>
        <th style="width:100px">15.00</th>
        <th style="width:100px">16.00</th>
        <th style="width:100px">17.00</th>

    </tr>
    @foreach (var t in ViewData["tyontekijat"] as IEnumerable<Tyontekija>)
    {
        <tr>
            <th>@t.Nimi.Split(' ')[0]</th>
            @for (int i = 7; i < 18; i++)
            {

                string n = "";
                @foreach (var v in Model)
                {
                    @if (v.Tyontekija == t.Id)
                    {
                        if (v.Alku.Hour == i)
                        {
                            n = v.TyopisteNimi;
                        }

                    }

                }
                <td class="@n"></td>
            }
        </tr>

    }

</table>
