@using Viivalista.Models
@model Kayttaja
@{
    ViewData["Title"] = "Kirjaudu sisään";
}

<h1>Kirjaudu sisään</h1>

@using (Html.BeginForm("Kirjautuminen", "Home", FormMethod.Post))
{
    @Html.LabelFor(k => k.Kayttajatunnus);
    @Html.TextBoxFor(k => k.Kayttajatunnus);
    <br />
    @Html.LabelFor(k => k.Salasana);
    @Html.PasswordFor(k => k.Salasana);
    <input type="submit" name="kirjaudu" value="Kirjaudu" class="btn-default" />

}