@{
    ViewData["Title"] = "Kirjaudu sisään";
}

<h1>Kirjaudu sisään</h1>

<form>
    <div>
    <label>Kayttajatunnus</label>
    <input type="text" />
    </div>
    <div>
    <label>Salasana</label>
    <input type="password" />
    </div>
    <button type="submit">Kirjaudu</button>
</form>