@{
    ViewData["Title"] = "Omat tiedot";
}

<h1>Matti Meikäläinen</h1>

<ul>
    <li>
        <td>1.10.2017</td>
        <td>10:00</td>
        <td><a href="#">Hammaslääkäri</a></td>
        <td>Hammaslääkärissä käynti</td>
    </li>
</ul>
    <br />
    <button>Uusi</button>
