@{
    ViewData["Title"] = "Omat tiedot";
}

<h1>Matti Meikäläinen</h1>

<ul>
    <li>
        <td>1.10.2017</td>
        <td>10:00</td>
        <td>Hammaslääkäri</td>
        <td>Hammaslääkärissä käynti</td>
    </li>

    <br />
    <select name=" Huomiot">
        <option>Hammaslääkäri</option>
    </select>
    <br />
    <button>Uusi</button>
    <button>Muokkaa</button>
    <button>Poista</button>
</ul>