
@{
    ViewData["Title"] = "Paivalista";
}

<h2>Päivälista</h2>
<select name="paiva">
    <option>1.10.2017</option>
</select>
<br />
<table style="width:100%">
    <tr>
        <th style="width:30%">Työpiste</th>
        <th>Työntekijä</th>
    </tr>
    <tr>
        <td>Kone 1</td>
        <td><select>
                <option>Matti Meikäläinen</option>
                <option>Maija Meikäläinen</option>
                <option>Seppo Mäkinen</option>
            </select>
        </td>
        <td>
            <button>Tyhjennä</button>
        </td>
    </tr>
    <tr>
        <td>Tarjotin 1</td>
        <td>
            <select>
                <option>Matti Meikäläinen</option>
                <option>Maija Meikäläinen</option>
                <option>Seppo Mäkinen</option>
            </select>
        </td>
        <td>
            <button>Tyhjennä</button>
        </td>
    </tr>
    <tr>
        <td>Kuvauslaite</td>
        <td>
            <select>
                <option>Matti Meikäläinen</option>
                <option>Maija Meikäläinen</option>
                <option>Seppo Mäkinen</option>
            </select>
        </td>
        <td>
            <button>Tyhjennä</button>
        </td>
    </tr>
</table>
<br />
<button>Tallenna</button>