@{
    ViewData["Title"] = "Työntekijät";
}
<h2>@ViewData["Title"]</h2>
<br />
<select name=" Huomiot">
    <option>Matti Meikäläinen</option>
    <option>Maija Meikäläinen</option>
    <option>Seppo Mäkinen</option>
</select>
<br />
<button>Uusi</button>
<button>Muokkaa</button>
<button>Poista</button>
<br />
<h3>Matti Meikäläinen</h3>
<ul>
    <li>Tuotanto</li>
    <li>Työpisteet
        <ul>
            <li><label class="label"style="background-color:deepskyblue">Kone</label></li>
            <li><label class="label label-success">Tarkastus</label></li>
        </ul></li>
</ul>