@{
    ViewData["Title"] = "Työntekijät";
}
<h2>@ViewData["Title"]</h2>
<a href="#" class="btn btn-default">Lisää työntekijä</a>
<br />
<table style="width:100%">
    <tr>
        <th>Nimi</th>
        <th>Ryhmä</th>
    </tr>
    <tr>
        <td><a href="#">Matti Meikäläinen</a></td>
        <td>Tuotanto</td>
    </tr>
    <tr>
        <td><a href="#">Maija Meikäläinen</a></td>
        <td>Tuotanto</td>
    </tr>
    <tr>
        <td><a href="#">Seppo Mäkinen</a></td>
        <td>Tuotanto</td>
    </tr>
</table>