@{
    ViewData["Title"] = "Matti Meikäläinen";
}

<h1>Matti Meikäläinen</h1>
<button>Muokkaa</button>
<button>Poista</button>

<ul>
    <li>Työpisteet</li>
    <ul>
    <li>Kone 1</li>
    <li>Tarjotin 1</li>
    </ul>
    
</ul>